{% set modal_classes = [
  'dialog',
  'dialog--' ~ size|default('medium')
] %}

<dialog id="{{ id }}" aria-labelledby="{{ id }}-heading" class="{{ modal_classes|join(' ') }}" data-modal>
  <div class="dialog-content">
    <button type="button" class="dialog-close" data-modal-close aria-label="Close dialog">
      <svg role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#212B36">
        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
      </svg>
      <span class="dialog-close__text">Close</span>
    </button>
    
    <div class="dialog-heading-container">
      <h2 id="{{ id }}-heading" class="m-0">{{ heading }}</h2>
    </div>
    
    <div class="dialog-body">
      {{ content|raw }}
    </div>
  </div>
</dialog>